nav.navbar.navbar-expand-lg.navbar-dark.fixed-top(style='background-color: rgb(219, 68, 55);')
  .container
    a.navbar-brand(href='./') Cardinal Computers
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='./')
            | Home
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='./services.html') Services
        li.nav-item
          a.nav-link(href='./repair.html') Repair Request
        li.nav-item
          a.nav-link(href='./contact.html') Contact
