extends main.pug

mixin nixamap
 iframe(width='100%', height='350', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12753.624378161456!2d-93.286166!3d36.952357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87cf6da782e73419%3A0x4c3eadb2164b4be1!2sCardinal+Computers+%26+Cell+Phone+Repair!5e0!3m2!1sen!2sus!4v1527957377554')

mixin ozarkmap
 iframe(width='100%', height='350', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3186.23509741962!2d-93.20504418496957!3d37.00418737990696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87cf716426781bf3%3A0x58041d7ac79f62a9!2s506+E+South+St%2C+Ozark%2C+MO+65721!5e0!3m2!1sen!2sus!4v1530551709394')

block body
  .container

    .row
      //- Desktop Stuff
      .col-md-3.d-none.d-md-block
        img.img-fluid(src='./img/nixa.jpg', alt='Nixa Storefront')
      .col-md-3.d-none.d-md-block
        h2 Nixa
        br
        address
          img.img-fluid.d-md-none(src='./img/nixa.jpg', alt='Nixa Storefront')
          strong Cardinal Computers
          br
          | 324 N Massey Blvd
          br
          | Nixa, MO 65714
          br
          a(href='tel:4172948886') (417) 294-8886
          br
          a(href='mailto:Craig@cardinal-computers.com') Craig@cardinal-computers.com

      .col-md-3.d-none.d-md-block
        h2 Ozark
        br
        address
          img.img-fluid.d-md-none(src='./img/ozark.jpg', alt='Ozark Storefront')
          strong Cardinal Computers
          br
          | 506 E South St
          br
          | Ozark, MO 65721
          br
          a(href='tel:4175596253') (417) 559-6253
          br
          a(href='mailto:Craig@cardinal-computers.com') Craig@cardinal-computers.com

      .col-md-3.d-none.d-md-block
        img.img-fluid(src='./img/ozark.jpg', alt='Ozark Storefront')


      //- Mobile Stuff
      .col-md-3.d-md-none
        .container-fluid
          h2 Nixa
          .row
            .col-6
              img.img-fluid.d-md-none(src='./img/nixa.jpg', alt='Nixa Storefront')
            .col-6
              address
                strong Cardinal Computers
                br
                | 324 N Massey Blvd
                br
                | Nixa, MO 65714
                br
                a(href='tel:4172948886') (417) 294-8886
                br
                a(href='mailto:Craig@cardinal-computers.com') Craig@cardinal-computers.com
          .row
            .col-12
              +nixamap

      .col-md-3.d-md-none
        .container-fluid
          h2 Ozark
          .row
            .col-6
              img.img-fluid.d-md-none(src='./img/ozark.jpg', alt='Ozark Storefront')
            .col-6
              address
                strong Cardinal Computers
                br
                | 506 E South St
                br
                | Ozark, MO 65721
                br
                a(href='tel:4175596253') (417) 559-6253
                br
                a(href='mailto:Craig@cardinal-computers.com') Craig@cardinal-computers.com
          .row
            .col-12
              +ozarkmap
      
      

    .row
      .col-6.d-none.d-md-block
        +nixamap
      
      .col-6.d-none.d-md-block
        +ozarkmap