extends main.pug

append scripts
  script.
    $(function() {
      $('.dealsname').matchHeight();
    });

block body
  .container.mt-4
    .row.border-bottom
      .col-md-4.text-center
        img.img-fluid(src='img/logo.png', style='max-height: 200px', alt='Logo')
        h1 Cardinal Computers
        h2(style='font-size: .83em;') Nixa & Ozark Missouri
      .col-md-8
        if !deals[1].desc
          h3.border-bottom We Fix and Sell
        br
        .row.specialsrow
          - for(var i = 0; i < 6; i++)
            .col-md-2.col-sm-6.col-6
              h5.dealsname= deals[i].name
              img.img-fluid.specialImg(src=deals[i].src, style='object-fit: cover;', alt='Product')
              h5= deals[i].price
              if deals[i].desc
                p= deals[i].desc
    br
        
    //hr
    .row.text-center
      .col-md-4
        .col-6(style='margin: 0 auto;')
          img.img-fluid.rounded(src='img/pcrepair.jpg', alt='Computer Repair')
        h3 Computer Repair 
        p Viruses got you down? Broken Screen? Needing a new computer or perhaps looking to upgrade your current one? Stop on in!
      .col-md-4
        .col-6(style='margin: 0 auto;')
          img.img-fluid.rounded(src='img/phonerepair.jpg', alt='Phone Repair')
        h3 Phone and Tablet Repair
        p Need a new phone or just looking to get your broken phone fixed? We have you covered!
      .col-md-4
        .col-6(style='margin: 0 auto;')
          img.img-fluid.rounded(src='img/viasat.png', alt='Viasat Logo')
        h3 Internet
        p Unable to get fast, reliable internet where you live? Think again!
    .row.text-center
      .col-md-4
        .col-6(style='margin: 0 auto;')
          img.img-fluid.rounded(src='img/gamingpc.png', alt='Gaming PC')
        h3 Custom Computers 
        p Unable to find the perfect computer for you? Why not build it?
      .col-md-4
        .col-6(style='margin: 0 auto;')
          img.img-fluid.rounded(src='img/DirecTV.png', alt='DirecTV Logo')
        h3 DirecTV
        p DirecTV sales and install
      .col-md-4
        .col-6(style='margin: 0 auto;')
          img.img-fluid.rounded(src='img/recycle.png', alt='Recycling Symbol')
        h3 Recycling 
        p Are your old, unused electronics piling up? Bring them on in - we proudly recycle!
