extends main.pug

mixin service(title, price, img, ...desc)
  .col-md-6.mb-4
    .card.h-100(style='border: none;')
      img.card-img-top(src=img, style='width: 40% !important; margin: 0 auto;', alt='Service picture')
      .card-body
        h4.card-title.text-center= title
        h5.text-center= price
        ul
          each item in desc
            li= item

block body
  .container
    .row
      h1 Our Services
    .row
      +service('Virus/Malware Removal', '$100', 'img/virus.jpg',
      "Removal of ALL Viruses",
      "Removal of ALL Malware",
      "Removal of ALL Adware",
      "Removal of ALL Spyware",
      "Removal of ANY Unwanted Programs")

      +service('Speed Improvements', '$100', 'img/speed.png',
      "Removal of ALL Junk Files",
      "Improve Speed and Preformance",
      "Removal of ALL Privacy Issues",
      "Stabilize System",
      "Complete Defragmentation of Disks",
      "Total Optimization of Disks")

      +service('Complete Optimization Package', '$150', 'img/pc.png',
      "Virus/Malware Removal Service + Speed Improvements Service",
      "$200 Value, $50 off!")

      +service('\"Like New\" Package', '$160', 'img/new.png',
      "Virus/Malware Removal Service + Speed Improvements Service + A Full Physical cleaning inside and out",
      "$215 Value, $55 off!")
      
