extends main.pug

mixin item-card(item)
  .col-md-4.mb-4
    .card.h-100
      img.card-img-top(src=item.img)
      .card-body
        h4.card-title= item.title
        h5= '$' + item.price
        p.card-text= item.desc


append scripts
  script.
    $("#home-tab" ).click(function() {
      $('#topImg').attr('src', 'http://via.placeholder.com/1000x300?text=Featured');
    });
    
    $("#phonetablet-tab" ).click(function() {
      $('#topImg').attr('src', 'http://via.placeholder.com/1000x300?text=Phones/Tablets');
    });
    
    $("#computer-tab" ).click(function() {
      $('#topImg').attr('src', 'http://via.placeholder.com/1000x300?text=Computers/Laptops');
    });
    
    $("#tv-tab" ).click(function() {
      $('#topImg').attr('src', 'http://via.placeholder.com/1000x300?text=TV/Monitors');
    });
    
    $("#acc-tab" ).click(function() {
      $('#topImg').attr('src', 'http://via.placeholder.com/1000x300?text=Accessories');
    });

block body
  

    
    
  
  .container
    .row
      .col-lg-4
        h1 Our Products
        ul#myTab.nav.nav-tabs.flex-column(role='tablist')
          li.nav-item
            a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Featured
          li.nav-item
            a#phonetablet-tab.nav-link(data-toggle='tab', href='#phonetablet', role='tab', aria-controls='phones', aria-selected='false') Phones/Tablets
          li.nav-item
            a#computer-tab.nav-link(data-toggle='tab', href='#computer', role='tab', aria-controls='contact', aria-selected='false') Computers/Laptops
          li.nav-item
            a#tv-tab.nav-link(data-toggle='tab', href='#tv', role='tab', aria-controls='contact', aria-selected='false') TV/Monitors
          li.nav-item
            a#acc-tab.nav-link(data-toggle='tab', href='#acc', role='tab', aria-controls='contact', aria-selected='false') Accessories
            
      .col-lg-8.d-none.d-lg-block
        img#topImg.img-fluid(src='http://via.placeholder.com/1000x300?text=Featured')
      
    .row.tab-content
    
      #home.tab-pane.fade.show.active.col-lg-12(role='tabpanel')
        .row
          if showcase
            for item in showcase
              +item-card(item)
            
      #phonetablet.tab-pane.fade.col-lg-12
        .row
          if phonetablet
            for item in phonetablet
              +item-card(item)
            
      #computer.tab-pane.fade.col-lg-12
        .row
          if computer
            for item in computer
              +item-card(item)
        
      #tv.tab-pane.fade.col-lg-12
        .row
          if tv
            for item in tv
              +item-card(item)
      
      #acc.tab-pane.fade.col-lg-12
        .row
          if accessories
            for item in accessories
              +item-card(item)